<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.4/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         beStrictAboutOutputDuringTests="true"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Functional">
            <directory>tests/Functional</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="S3_ENDPOINT" value="http://minio:9000"/>
        <env name="S3_REGION" value="us-east-1"/>
        <env name="S3_KEY" value="minioadmin"/>
        <env name="S3_SECRET" value="minioadmin"/>
        <env name="S3_BUCKET" value="test-bucket"/>
    </php>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
